@{
    ViewBag.Title = "Create";
}
@*<h3>@ViewBag.Message</h3>*@


<br />

<form id="form_data">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group col-md-3">
            <label>E-Mail</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-3">
            <label>Address</label>
            <input type="text" class="form-control" id="address" placeholder="Address">
        </div>
    </div>
    <div class="form-group">
        <label>Mobile No</label>
        <input type="number" class="form-control" id="mobile" placeholder="Mobile Number">
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Country</label> <br />
            @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, htmlAttributes: new { @class = "form-control", id = "country" })
            @*<input type="text" class="form-control" id="country" placeholder="Country">*@
        </div>
        <div class="form-group col-md-2">
            @*<label>State</label>
                <input type="text" class="form-control" id="state" placeholder="State">*@
            <label for="state">State</label>
            <select class="form-control" id="state" name="state">
                <option value="">Select a state</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>City</label>
            <input type="text" class="form-control" id="autocomplete" placeholder="City">
        </div>
        <div class="form-group col-md-3">
            <label>Course</label> <br />
            @Html.ListBox("ListBoxName", (IEnumerable<SelectListItem>)ViewBag.courses, htmlAttributes: new { @class = "form-control required", id = "course", multiple = "multiple" })
            @*<input type="text" class="form-control" id="course" placeholder="Course">*@
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Enter By</label>
            <select id="enter_by" class="form-control">
                <option selected value="0">CRM</option>
                <option value="1">Website</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-2">
        <button class="btn btn-primary" type="button" onclick="Save()">Submit</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places"></script>


<script>

    //code to autofill city col values
    var autocomplete = new google.maps.places.Autocomplete(document.getElementById("autocomplete"));
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
    });

    $(document).ready(function () {

    //code to check email id already present in database or not

    $("#email").change(function () {
       let email = $(this).val();
       $.ajax({
       type: "GET",
       url: "@Url.Action("checkEmail", "Home")",
       data: { email: email },
       //console.log(data),
       success: function (isExist) {
            if (isExist) {
                alert("Email already exist");
            } else {
                alert("Email doesn't' exist");
            }
       },
       error: function (error) {
             alert("Error: " + error);
       }
    });
    });

    //code to get state name according to country

    $("#country").change(function () {
        let country = $(this).val();
      //  debugger;
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetStates", "Home")",
            data: { country: country },
            success: function (response) {
                $("#state").empty();
                $("#state").append("<option value=''>Select a state</option>");
                $.each(response, function (index, value) {
                    $("#state").append("<option value='" + value.Value + "'>" + value.Text + "</option>");
                });
            },
            error: function (error) {
                alert("Error: " + error);
            }
        });
    });

    });

    //Code to save form data

    function Save() {
        //alert("Start");

        let name = $('#name').val();
        let email = $('#email').val();
        let address = $('#address').val();
        let mobile = $('#mobile').val();
        let country = $('#country').val();
        let state = $('#state').val();
        let city = $('#city').val();
        let course = $('#course').val();
        let enter_by = $('#enter_by').val();

        var data = {

            name: name,
            email: email,
            address: address,
            mobile: mobile,
            country: country,
            state: state,
            city: city,
            courses: course,
            enter_by: enter_by,

        };
        console.log(data);

        //alert("Half Way Through");

        $.ajax({
            url: '/Home/Save',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'JSON',
            contentType: 'application/json',
            success: function (result) {
                if (result) {
                    window.location.reload();
                }
                else {
                    alert('Not Saved!');
                }
            },
            error: function (err) {

            }
        });

        //window.location.reload();
    }

</script>
