@model IEnumerable<FormMVC.Models.form_master>
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />

@* <div class="row">

        <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
    </div> *@

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #F8F8F8;
    }
</style>




<div class="content-wrapper">


    <div class="page-content fade-in-up">

        <div class="ibox">
            <div class="ibox-head btn-primary">
                <div class="ibox-title" style="color:white;text-align:center">
                    Form Details
                </div>
            </div>

            <table id="Grower" class="table" cellspacing="0" width="100%">
                <thead class="btn-primary">
                    <tr style="text-align:center;">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Course</th>
                        <th>Entered Via </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr style="text-align:center">
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.email)</td>
                        <td>@Html.DisplayFor(modelItem => item.address)</td>
                        <td>@Html.DisplayFor(modelItem => item.mobile)</td>
                        <td>
                            @if (item.country == "0")
                            {
                                <p>India</p>
                            }
                            @if (item.country == "1") 
                            {
                                <p>Australia</p>
                            }
                            else
                            {
                            <p>France</p>
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.state)</td>
                        <td>@Html.DisplayFor(modelItem => item.city)</td>
                        <td> </td>
                        <td>
                            @if (item.enter_by == "0")
                            {
                                <p>CRM</p>
                            }
                            else
                            {
                                <p>Website</p>
                            }
                        </td>

                        @*<td>
                            <a href="#"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit"></i> </a>
                            |
                            <a onclick="del(modelItem => item.party_code)" data-toggle="modal"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></i> </a>
                        </td>*@

                    </tr>
                }
            </table>
        </div>
    </div>
</div>